/*
* @Author: gigaflower
* @Date:   2017-03-04 10:27:32
* @Last Modified by:   GigaFlower
* @Last Modified time: 2017-03-15 19:59:44
*/

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.prompt-aside {
  display: inline-block;
  height: 13px;
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}

.app-content {
  position: relative;
  min-height: 100vh;
}

.slide-bottom {
  position: absolute;
  bottom: 30px;
  height: 15vh;
}

.full-width {
  width: 100%;
}

.vertical-center-wrap {
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.cross-border {
  position: relative;
}
.cross-border::after,
.cross-border::before {
  content: '';
  display: block;
  position: absolute;
}
.cross-border-lb::after {
  bottom: -10px;
  left: -40px;
  height: 5px;
  width: 90%;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(-70px, -300px);
}
.cross-border-lb::before {
  left: -10px;
  height: 400px;
  width: 5px;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(0, -100px);
}

.cross-border-lbb{
  transform: translate(0,-400px);
}


.cross-border-rbb::after {
  content: '';
  bottom: -150px;
  left: -40px;
  height: 5px;
  width: 100px;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(-110px, -340px);
  float:right;
}
/*.cross-border-rbb::before {*/
/*  content: '';*/
/*  display: block;*/
/*  left: -0px;*/
/*  height: 500px;*/
/*  width: 5px;*/
/*  background: rgba(0, 0, 0, .4);*/
/*  transform: translate(50px, 0);*/
/*  float: right;*/
/*}*/

/*.cross-border-rb::after {*/
/*  content: '';*/
/*  bottom: -10px;*/
/*  left: 300px;*/
/*  height: 5px;*/
/*  width: 90%;*/
/*  background: rgba(0, 0, 0, .4) ;*/
/*  transform: translate(-70px, -100px);*/
/*  float:right;*/
/*}*/
/*.cross-border-rb::before {*/
/*  content: '';*/
/*  left: -10px;*/
/*  height: 400px;*/
/*  width: 5px;*/
/*  background: rgba(0, 0, 0, .4) ;*/
/*  transform: translate(0, 100px);*/
/*  float: right;*/

/*}*/

/*.cross-border-rbb{*/
/*  transform: translate(0,-400px);*/
/*}*/









.cross-border-lbb::after {
  content: '';
  display: block;
  bottom: -150px;
  left: -40px;
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(-110px, -340px);
}
.cross-border-lbb::before {
  content: '';
  display: block;
  left: -0px;
  height: 500px;
  width: 5px;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(-50px, 400px);
}
.cross-border-ltt::after {
  content: "";
  display: block;
  top: -10px;
  left: -40px;
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, .4) ;
  transform: translate(-20px, 30px);
}
.cross-border-ltt::before {
  content: "";
  display: block;
  bottom: 40px;
  left: -10px;
  height: 100px;
  width: 5px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .4) 20%, rgba(0, 0, 0, .4) 50%, transparent);
  transform: translate(-20px, 30px);
}





@media screen and (min-width: 600px) {
  .pc-hidden { display: none; }
}
@media screen and (max-width: 600px) {
  .mobile-hidden { display: none; }
}




.fixed-bg {
    background-image: url('./assets/new-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.title {
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 15vh;
}

.windmill {
  animation: windmill .8s linear infinite;
}
.windmill-ccw {
  animation: windmill-ccw .8s linear infinite;
}
@keyframes windmill {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes windmill-ccw {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
